.catagories {
  display: flex;
  /* background-color: aquamarine; */
  flex-wrap: wrap;
  }
  
.category {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.category p {
  margin-top: 10px;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.6px */
}

.category .amount {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20%;
}

.category img {
  width: 60px;
  height: 60px;
}