.catagories {
    display: flex;
    /* background-color: aquamarine; */
    flex-wrap: wrap;
  }
  
  .category {
    /* background-color: blue; */
    display: flex;
    width: 50%;
    justify-content: space-evenly;
  }
  .category p {
    margin: 0px;
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
  }
  
  .category .amount {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
  
  .category img {
    width: 60px;
    height: 60px;
  }