

.buttons {
    
  
    width: 100%;
    /* display: flex; */
    /* justify-content: right; */
    height: 45px;
  }
  
  .primary_btn {
    background-color: #6ffcd2;
    color: black;
    margin-left: 20px;
    width: 160px;
    border-radius: 10px;
  }
  
  .secondary_btn {
    background-color: #a0b4ae4e;
    border-radius: 10px;
  
    color: white;
  }
  
  .buttons button:hover {
    background-color: #6ffcd2;
  }
  