.buttons {
  width: 100%;
  /* display: flex; */
  /* justify-content: right; */
  height: 45px;
}

.primary_btn  {
  background-color: #6ffcd2;
  color: black;
  margin-left: 20px;
  width: 50%;
  border-radius: 10px;
  /* height: 100%; */
}

.secondary_btn {
  background-color: #a0b4ae4e;
  border-radius: 10px;
  width: 35%;
  color: white;
  /* height: 100%; */
}

.secondary_btn_admin {
  background-color: red;
  border-radius: 10px;
  width: 35%;
  color: black;
  /* height: 100%; */
}

.buttons button:hover {
  background-color: #6ffcd2;
}
  