.main {
  /* background-color: green; */
  margin: 0 45px;
}

.summary{
  text-align: center;
  background-color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}

