@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;

  padding: 0 50px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-feature-settings: "clig" off, "liga" off;
  flex-grow: 0;
  box-shadow: 0px 15px 10px -15px #111;   
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 130px;
}

.header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
}

.none:hover{
  background-color: white;
  
}

/* nav li:active a {
  font-weight: bold;
  color: pink; 
  background-color: aqua;
} */

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 10px 15px;
}

.header li ,footer{
  margin-right: 5rem;
  font-feature-settings: "clig" off, "liga" off;
}





.active {
  color: black;
  font-weight: bolder;

  
  
}



.header nav ul li:hover {
  padding: 10px;
  background-color: black;
  height: 5rem;
}

.header nav ul li:hover h4 {
  color: white;
}

.header button {
  background-color: white;
  width: 140%;
  height: 40px;
  border-radius: 10px;
  /* border-color: #6FFCD2 ; */
  border: 3px solid #6ffcd2;
}

.header button p {
  margin: 0px;
  font-weight: bold;
}

.header button:hover {
  background-color: black;
  color: #6ffcd2;
  border: none;
}
