
.main{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: aqua; */
}

.title{
text-align: center;
padding: 30px;

}

.card_container{
    /* background-color: aqua; */
    /* display: flex;
    */
    width: 21rem; 
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    margin-bottom: 15px;
}

.summary{
   
    padding: 30px;
    text-align: center;
    background-color: black;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    color: white;
  }

  .summary .summary_details{
    text-align: center;
    /* width: 20%; */
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    /* background-color: pink; */
    justify-content: space-between;

  }

  .summary .summary_details p{
    margin-bottom: 0px;
  }

  .button{
    padding: 20px;
  }

  .card_container p{
    color: rgb(148, 144, 144);
  }

  .card_container input{
    border: 2px solid black;
    padding-left: 10px;
  }


  .summary button{
    background-color: #6ffcd2;
  }

